* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.contact_us_container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 1rem;
}

.react_us_from_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.react_us_from {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.react_us_from fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem 0;
}

.contact_us_input {
  padding: 0.875rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.5rem;
}
.input_label {
  margin-bottom: 0.5rem;
}

.contact_form_submit {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  transition: all 0.15s;
}
.contact_form_submit:hover {
  color: #f2f2ff;
  background-color: #363062;
}
.address-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.125rem;
  margin-bottom: 1.125rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0.875rem 1.125rem;
  min-width: 12rem;
}

.address-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.address-details {
  font-size: 16px;
  margin-bottom: 8px;
}
.addresses-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_container {
  width: 100%;
}
.contact_container h2 {
  text-align: center;
}
@media (min-width: 900px) {
  .contact_us_container {
    grid-template-columns: 1fr 1fr;
  }
  .contact_us_input {
    width: 25rem;
  }
  .react_us_from {
    width: unset;
  }
  .addresses-container {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 12rem;
  }
}
