.header {
  background-color: #000000;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul {
  display: flex;
  flex-direction: row;
}
.nav_options {
  list-style-type: none;
  margin: 0 1rem;
}
.nav_options a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 0.25rem 1rem;
}
.nav_options a:hover {
  border-bottom: 2px solid #ffffff;
}
