* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#products_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  margin: 1rem;
}

@media (min-width: 600px) {
  #products_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  #products_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product_card_anchor {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.875rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.productCard_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.productCard_container:hover {
  cursor: pointer;
}

.productCard_image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 4px;
  transition: all 0.5s;
}

.productCard_image:hover {
  scale: 1.2;
}

.productCard_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productCard_title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.productCard_price {
  color: #007bff;
  font-size: 1.1em;
  font-weight: 700;
}

.productCard_rating {
  font-size: 0.875rem;
  margin: 0.25rem 0;
  color: #a2a2a2;
  font-style: italic;
}
.productCard_description {
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25;
}
